<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<title>PackagingToolkit</title>
</h:head>

<f:view>
	<h:body>
		<ui:composition>
			<h:form style="float:right">
				<h:panelGrid columns="2">
					<p:outputLabel value="#{labels['label-select-language']}" />
					<p:selectOneMenu value="#{i18nBean.localeCode}"
									 valueChangeListener="#{i18nBean.onLocaleCodeChange}"
									 onchange="submit()">
						<f:selectItems value="#{i18nBean.languages}" 
									   var="language"
									   itemValue="#{language.languageCode}" 
									   itemLabel="#{language.languageDescription}" />
					</p:selectOneMenu>
				</h:panelGrid>
				
				<!-- <p:splitButton icon="/static/icons/flag_germany.png">
					<p:menuitem icon="/static/icons/flag_great_britain.png" />
				</p:splitButton> -->
			</h:form>		
		</ui:composition>
	</h:body>
</f:view>
</html>