<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<title>KDMP4 Packaging Toolkit</title>
</h:head>

<h:body>
<f:view locale="#{i18nBean.localeCode}">
	<div id="header">
		<ui:include src="header.xhtml" />
	</div>
	
	<div id="languageChoice">
		<ui:include src="languageChoice.xhtml" />
		<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" />
	</div>

	<div id="workspace">
		<ui:insert name="workspace">
			Placeholder for workspace
		</ui:insert>
	</div>

	<div id="footer">
		<ui:include src="footer.xhtml" />
	</div>
	<ui:debug rendered="#{applicationConfigurationBean.inDevelopment}" />
</f:view>
</h:body>
</html>
