<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

	<!-- Das Attribut ist die Liste, die angezeigt werden soll. -->
	<composite:interface>
		<composite:attribute name="value" required="true" />
	</composite:interface>
	
	<!-- Hier beginnt die Implementierung der Komponente. -->
	<composite:implementation>
	    <ul>
	    	<ui:repeat var="listItem" value="#{cc.attrs.value}">
	    		<li><h:outputText value="#{listItem}"/></li>
	    	</ui:repeat>
	    </ul>
	</composite:implementation>
</html>