<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

	<ui:remove>
		This component contains the components for configuring the server. 
	</ui:remove>

	<composite:interface>
		<composite:attribute name="handler" />
	</composite:interface>
	
	<composite:implementation>
		<h:form id="frmServerConfiguration">
						<p:panelGrid columns="2">
							<p:outputLabel value="#{labels['label-working-directory']}" style="font-weight:bold" />
							<p:inputText id="txtWorkingDirectoryPath" value="#{cc.attrs.handler.workingDirectoryPath}" />
							
							<ui:remove>Configuration of base ontology</ui:remove>
							<p:outputLabel value="#{labels['label-configured-base-ontology']}"
										   style="font-weight:bold" />
							
							<p:outputLabel value="#{cc.attrs.handler.configuredBaseOntology}"
										   style="font-weight:bold" 
										   id="lblBaseOntology" />
							
							<p:outputLabel value="#{labels['label-choose-ontology']}"
										   style="font-weight:bold" />
							<p:fileUpload id="baseOntologyUpload"
										  fileUploadListener="#{cc.attrs.handler.uploadBaseOntology}"
										  mode="advanced" />
							
							<ui:remove>Configuration of rule ontology</ui:remove>
							<p:outputLabel value="#{labels['label-configured-rule-ontology']}"
										   style="font-weight:bold" />
							
							<p:outputLabel value="#{cc.attrs.handler.configuredRuleOntology}"
										   style="font-weight:bold" 
										   id="lblRuleOntology" />

							<p:outputLabel value="#{labels['label-choose-ontology']}"
										   style="font-weight:bold" />
							<p:fileUpload id="ruleOntologyUpload"
										  fileUploadListener="#{cc.attrs.handler.uploadRuleOntology}"
										  mode="advanced" />
										  
						</p:panelGrid>
						
						<p:commandButton value="#{labels['button-save']}" 
										 actionListener="#{cc.attrs.handler.onSaveServerConfiguration}" update="@form">
							<ui:remove><p:ajax listener="#{cc.attrs.handler.onSaveServerConfiguration}"
									update="lblBaseOntology lblRuleOntology" execute="txtWorkingDirectoryPath"/></ui:remove>
						</p:commandButton>
						
						<p:commandButton value="#{labels['button-back']}" 
										 action="#{workspaceBean.onShowStartpage}"
										 actionListener="#{cc.attrs.handler.removeUploadedFiles}" 
										 ajax="false"
										 id="btnBackServer">
						</p:commandButton>
					</h:form>
		</composite:implementation>
</html>