<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

	<ui:remove>
		This component shows a tool tip. The first parameter names the component
		the tool tip describes and the second parameter is the text that is
		shown in the tool tip. 
	</ui:remove>

	<composite:interface>
		<composite:attribute name="forComponent"  />
		<composite:attribute name="text"  />
	</composite:interface>
	
	<composite:implementation>
		<p:tooltip for="#{cc.attrs.forComponent}">
			<h:outputText value="#{cc.attrs.text}" />
		</p:tooltip>	
	</composite:implementation>
</html>