<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

	<ui:remove>
		This component contains the cancel button. When the button is clicked, the start page is shown. 
	</ui:remove>

	<composite:interface>
	</composite:interface>
	
	<composite:implementation>
			<p:commandButton action="#{workspaceBean.cancelInformationPackageCreation}" 
						 immediate="true"
						 value="#{labels['button-cancel']}" 
						 id="btnCancel" 
						 ajax="false"/>		
	</composite:implementation>
</html>