<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

	<ui:remove>
 
	</ui:remove>

	<composite:interface>
		<composite:attribute name="digitalObjectsBean" />
	</composite:interface>
	
	<composite:implementation>
					<p:fileUpload disabled="#{cc.attrs.digitalObjectsBean.digitalObjectUploadDisabled}" 
								  fileUploadListener="#{cc.attrs.digitalObjectsBean.uploadDigitalObject}"
								  mode="advanced"
								  multiple="true" 
								  update="digitalObjectUpload pnlDigitalObjectsLabel pnlDigitalObjectsTable pnlReferencesInput" />
								  
					<h:panelGroup id="pnlDigitalObjectsLabel">
						<p:outputLabel rendered="#{cc.attrs.digitalObjectsBean.digitalObjectUploaded}" 
									   style="font-weight:bold"
									   value="#{labels['label-uploaded-digital-objects']}" />
					</h:panelGroup>
					<h:panelGroup id="pnlDigitalObjectsTable">
						<p:dataTable id="tblDigitalObjects"
									 rendered="#{cc.attrs.digitalObjectsBean.digitalObjectUploaded}"
									 value="#{cc.attrs.digitalObjectsBean.digitalObjectList}"
									 var="digitalObject">
							<!-- The column with the file name. -->
							<p:column headerText="#{labels['label-filename']}">
								<h:outputText value="#{digitalObject.filename}" />							
							</p:column>
							<!-- The column with the delete button. -->
							<p:column>
								<p:commandButton value="#{labels['button-delete']}"
												 action="#{cc.attrs.digitalObjectsBean.deleteDigitalObject}"
												 update="@form">
									<f:setPropertyActionListener value="#{digitalObject}" 
																 target="#{cc.attrs.digitalObjectsBean.selectedDigitalObject}" />
								</p:commandButton>								
							</p:column>
						</p:dataTable>
					</h:panelGroup>
	</composite:implementation>
</html>