<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

	<ui:remove>
		This component shows the help for a page in an overlay panel. The help can be opened by a button.
	</ui:remove>

	<composite:interface>
		<composite:attribute name="i18nKey" required="true" />
	</composite:interface>
	
	<composite:implementation>
		<p:overlayPanel for="btnHelp" widgetVar="overlayHelp">
			<h:outputLabel value="#{help[cc.attrs.i18nKey]}" />
			<br />
			<p:commandButton value="#{labels['button-close']}"  oncomplete="PF('overlayHelp').hide()" />
		</p:overlayPanel>
		
		<p:commandButton value="#{labels['button-help']}" id="btnHelp" /> 
	</composite:implementation>
</html>