<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ptk="http://xmlns.jcp.org/jsf/composite/packagingtoolkitcomponents">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<title>SCIDIP-ES</title>
</h:head>

<f:view locale="#{i18nBean.localeCode}">
	<ui:remove>
		This is the page where the user can configure the client, server and mediator. 
	</ui:remove>

	<h:body>
		<ui:composition template="templates/mainTemplate.xhtml">
		<ui:define name="workspace">
			<p:tabView id="tabViewMain">
				<ui:remove>*************** Configuration of the client. ******************</ui:remove>
				<p:tab title="#{labels['label-configuration-client']}" id="tabConfigurationClient">
					<h:form id="frmClientConfiguration">
						<p:growl id="growl" showDetail="true" /> 
							
						<p:panelGrid columns="2">			
							<p:outputLabel for="txtServerUrl" value="#{labels['server-url']}" />
							<p:inputText id="txtServerUrl" value="#{configurationBean.serverUrl}" 
										 required="true"
										 requiredMessage="#{messages['server-url-required']}">
								<f:validator binding="#{facesUrlValidator}" />
							</p:inputText>
							
							<p:outputLabel for="txtMediatorUrl" value="#{labels['mediator-url']}" />
							<p:inputText id="txtMediatorUrl" value="#{configurationBean.mediatorUrl}" 
										 required="true"
										 requiredMessage="#{messages['mediator-url-required']}">
								<f:validator binding="#{facesUrlValidator}" />						
							</p:inputText>
							
							<ui:remove>
								Configuration of the logo. Does not work at the moment. The logo
								is uploaded but it is not shown. 
								<p:outputLabel value="#{labels['label-choose-logo']}"
										   style="font-weight:bold" />
								<p:fileUpload id="logoUpload"
										  fileUploadListener="#{configurationBean.uploadLogo}"
										  mode="advanced" />
							</ui:remove>
						</p:panelGrid>
						
						<!-- Save-Button -->
						<p:commandButton value="#{labels['button-save']}" 
										 actionListener="#{configurationBean.onSaveClientConfiguration}"
										 ajax="true"
										 id="btnSaveClientConfiguration"
										 update="@all">
							
						</p:commandButton>
						
						<!-- Back-Button -->
						<p:commandButton value="#{labels['button-back']}" 
										 action="#{workspaceBean.onShowStartpage}" 
										 ajax="false" 
										 id="btnBackClient"/>
					</h:form>
				</p:tab>
				<ui:remove>*************** Configuration of the mediator. ******************</ui:remove>
				<p:tab title="#{labels['label-configuration-mediator']}"  id="tabConfigurationMediator" 
					   disabled="#{configurationBean.mediatorPanelDisabled}">
					<h:form>
						<p:outputPanel binding="#{configurationBean.dataSourcesPanel}" id="pnlDataSources"/>
						
						<p:commandButton value="#{labels['button-save']}" 
										 actionListener="#{configurationBean.onSaveMediatorConfiguration}"
										 ajax="false">
						</p:commandButton>
						
						<p:commandButton value="#{labels['button-back']}" 
										 action="#{workspaceBean.onShowStartpage}" 
										 ajax="false"
										 id="btnBackMediator" />
					</h:form>
				</p:tab>
			<ui:remove> *************** Configuration of the server. ******************</ui:remove>
				<p:tab title="#{labels['label-configuration-server']}"  id="tabConfigurationServer"
					   disabled="#{configurationBean.serverPanelDisabled}">
					<ptk:compServerConfiguration handler="#{configurationBean}"  id="ccServerConfiguration"/>
				</p:tab>
			</p:tabView>
			</ui:define>
			</ui:composition>
	</h:body>
</f:view>
</html>