<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<title>SCIDIP-ES import</title>
</h:head>

<ui:remove>
	ATTENTION: 
	
	This file is the older version of createInformationPackage.xhtml. In the meeting of 23. of november 2017 it has been
	decided to realize the first version of the new PackagingToolkit only for SIPs - information packages with only one
	digital object or reference. The application should be extended in a further version.
	
	This page contains the components for selecting SIP or SIU and all ajax logic for activating and deactivating the
	components for uploading a digital object. It can be a reference when the SIUs are integrated into the program.
</ui:remove>

<f:view locale="#{i18nBean.localeCode}">
	<h:body>	
		<div>
			<h1>#{labels['header-new-information-package']}</h1>
			
			<h:form>
				<h1 align="center">************ Spielbereich ************</h1>
				<p:dataTable id="xxx" var="message" value="#{informationPackageCreationBean.individualDataTable.messages}"
								       selectionMode="single" selection="#{informationPackageCreationBean.individualDataTable.selectedMessage}" rowKey="#{message.aa}">
					<f:facet name="header">
						<p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />
							<p:columnToggler datasource="xxx" trigger="toggler" />					
					</f:facet>
								       
					<p:columns value="#{informationPackageCreationBean.individualDataTable.columns}"  var="column" columnIndexVar="colIndex">
						<f:facet name="header">
							<h:outputText value="#{column.header}" />
							
						</f:facet>
						<h:outputText value="#{message[column.property]}"/>  
					</p:columns>
					<f:facet name="footer">
						<p:commandButton value="Klick!" />
					</f:facet>
				</p:dataTable>
				
			    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
			 
			    <p:commandButton value="Info" actionListener="#{informationPackageCreationBean.info}" />
			    <p:commandButton value="Warn" actionListener="#{informationPackageCreationBean.warn}" />
			    <p:commandButton value="Error" actionListener="#{informationPackageCreationBean.error}" />
			    <p:commandButton value="Fatal" actionListener="#{informationPackageCreationBean.fatal}" />
			    
			    <h1>************ Spielbereich Ende ************</h1>
			</h:form>
			
			<h:form enctype="multipart/form-data">
				<p:commandButton value="Dialog1" onclick="PF('').show()" />
				<p:commandButton value="Dialog2" onclick="PF('noDigitalObjectsUploadedConfirmation').show()" />
			
				<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" />
				<p:panelGrid columns="2">
					<ui:remove>Title of the information package.</ui:remove>
					<p:outputLabel style="font-weight:bold" 
								   value="#{labels['label-title']}" />
					<p:inputText value="#{informationPackageCreationBean.packageTitle}"
								 id="txtPackageTitle">
						<p:ajax event="keyup"
								listener="#{informationPackageCreationBean.onPackageTitleChanged}"
								update="btnNextStep slctPackageType" />
					</p:inputText>
					
					<ui:remove>Information package type</ui:remove>
					<p:outputLabel value="#{labels['label-package-type']}"
								   style="font-weight:bold" />
					
					<p:selectOneRadio columns="1"
									  disabled="#{!informationPackageCreationBean.titleValid}"
									  id="slctPackageType" 
									  layout="grid" 
									  value="#{informationPackageCreationBean.selectedPackageType}">
						<f:selectItem itemLabel="SIP" itemValue="SIP" />
						<f:selectItem itemLabel="SIU" itemValue="SIU" />
						<p:ajax listener="#{informationPackageCreationBean.onPackageTypeChanged}" 
								update="digitalObjectUpload" />
					</p:selectOneRadio>
					
					<ui:remove>virtual or non-virtual</ui:remove>
					<ui:remove>
						<p:outputLabel value="#{labels['label-virtual']}"
									   style="font-weight:bold" />
						
						<p:selectOneRadio columns="1"
										  disabled="#{!informationPackageCreationBean.titleValid}"
										  id="slctVirtual" 
										  layout="grid" 
										  value="#{informationPackageCreationBean.virtual}">
							<f:selectItem itemLabel="#{labels['button-yes']}" 
										  itemValue="true" />
							<f:selectItem itemLabel="#{labels['button-no']}" 
										  itemValue="false" />
							<p:ajax listener="#{informationPackageCreationBean.onVirtualChange}" 
								    update="digitalObjectUpload" />
						</p:selectOneRadio>
					</ui:remove>
					
					<ui:remove>The configured ontology file.</ui:remove>
					<p:outputLabel value="#{labels['label-configured-base-ontology']}"
								   style="font-weight:bold" />
								   
					<p:outputLabel value="#{informationPackageCreationBean.configuredBaseOntology}" />
								  
					<ui:remove>Upload digital objects.</ui:remove>
					<p:outputLabel value="#{labels['label-upload-digital-object']}"
								   style="font-weight:bold" />
					<p:fileUpload disabled="#{informationPackageCreationBean.digitalObjectUploadDisabled}" 
								  fileUploadListener="#{informationPackageCreationBean.uploadDigitalObject}"
								  id="digitalObjectUpload"
								  mode="advanced"
								  multiple="true" 
								  update="btnNextStep lbl digitalObjectUpload pnlDigitalObjectsLabel pnlDigitalObjectsTable" />
								  
					<ui:remove>h:panelGroups are used because the label and the table
					are not rendered at the beginning. They are rendered if files have
					been uploaded. Because they are not in the DOM, if they are not
					rendered, they have to be in components that are rendered in
					every case.</ui:remove>
					
					<h:panelGroup id="pnlReferencesLabel">
						<p:outputLabel style="font-weight:bold"
									   value="#{labels['label-reference-url']}" />					
					</h:panelGroup>
					
					<h:panelGroup id="pnlReferencesInput">
						<p:selectOneRadio columns="1"
										  id="slctProtocol" 
										  layout="grid" 
										  value="#{informationPackageCreationBean.selectedProtocol}">
							<f:selectItem itemLabel="HTTP" 
										  itemValue="http://" />
							<f:selectItem itemLabel="HTTPS" 
										  itemValue="https://" />
						</p:selectOneRadio>
					
						<p:inputText value="#{informationPackageCreationBean.newReferenceUrl}"/>
						<p:commandButton actionListener="#{informationPackageCreationBean.addReference}" 
															value="#{labels['button-add']}"
															update="pnlReferencesTable pnlReferencesInput" />
					</h:panelGroup>
					
					<h:panelGroup id="pnlReferencesTableLabel">
						<p:outputLabel style="font-weight:bold"
									   value="#{labels['label-existing-references']}" />					
					</h:panelGroup>
					
					<h:panelGroup id="pnlReferencesTable">
						<p:dataTable id="tblReferences"
									 value="#{informationPackageCreationBean.referencesInInformationPackage}"
									 var="reference">
							<!-- The column with the url of the reference. -->
							<p:column headerText="#{labels['label-reference-url']}">
								<h:outputText value="#{reference.url}" />							
							</p:column>
							<!-- The column with the delete button. -->
							<p:column>
								<p:commandButton value="#{labels['button-delete']}"
												 action="#{informationPackageCreationBean.deleteReference}"
												 update="@form">
									<f:setPropertyActionListener value="#{reference}" 
																 target="#{informationPackageCreationBean.selectedReference}" />
								</p:commandButton>								
							</p:column>
						</p:dataTable>
					</h:panelGroup>
					
					<h:panelGroup id="pnlDigitalObjectsLabel">
						<p:outputLabel rendered="#{informationPackageCreationBean.digitalObjectUploaded}" 
									   style="font-weight:bold"
									   value="#{labels['label-uploaded-digital-objects']}" />
					</h:panelGroup>
					<h:panelGroup id="pnlDigitalObjectsTable">
						<p:dataTable id="tblDigitalObjects"
									 rendered="#{informationPackageCreationBean.digitalObjectUploaded}"
									 value="#{informationPackageCreationBean.digitalObjectList}"
									 var="digitalObject">
							<!-- The column with the file name. -->
							<p:column headerText="#{labels['label-filename']}">
								<h:outputText value="#{digitalObject.filename}" />							
							</p:column>
							<!-- The column with the delete button. -->
							<p:column>
								<p:commandButton value="#{labels['button-delete']}"
												 action="#{informationPackageCreationBean.deleteDigitalObject}"
												 update="@form">
									<f:setPropertyActionListener value="#{digitalObject}" 
																 target="#{informationPackageCreationBean.selectedDigitalObject}" />
								</p:commandButton>								
							</p:column>
						</p:dataTable>
					</h:panelGroup>
					<p:outputLabel id="lbl" 
								   value="Test Dateizaehler: #{informationPackageCreationBean.digitalObjectCount}" />
				</p:panelGrid>
			
				<!-- The buttons for cancelling and going to the next step. -->
				<p:commandButton actionListener="#{workspaceBean.showStartpage}" 
								 immediate="true"
								 value="#{labels['button-cancel']}" />		
				<p:commandButton ajax="false"
								 disabled="#{!informationPackageCreationBean.titleValid}"
								 id="btnNextStep" 
								 style="margin-top:10px" 
								 value="#{labels['button-next-step']}"
								 action="#{workspaceBean.showSavedViews}" 
								 actionListener="#{informationPackageCreationBean.createInformationPackage}">
					<ui:remove><p:ajax listener="#{informationPackageCreationBean.checkDigitalObjects}" 
							update="@form" /></ui:remove>
				</p:commandButton>
								 
				<!-- This dialog is shown if the user changes the 
					 selection of the package type from SIC to SIP and
					 the information package contains more than one 
					 digital object. -->
				<p:confirmDialog global="true" severity="error" 
								 header="#{labels['confirmation-package-type-change']}" 
								 hideEffect="fade"
								 message="#{labels['message-package-type-change']}" 
								 showEffect="fade" 
								 widgetVar="deleteDigitalObjectConfirmation">
					<p:commandButton styleClass="ui-confirmdialog-yes"
									 value="#{labels['button-yes']}">
						<p:ajax listener="#{informationPackageCreationBean.removeAllDigitalObjects}" 
								update="pnlDigitalObjectsLabel pnlDigitalObjectsTable lbl" />
					</p:commandButton>
					<p:commandButton styleClass="ui-confirmdialog-no"
									 value="#{labels['button-no']}">
						<p:ajax listener="#{informationPackageCreationBean.doNotChangePackageTypeToSip}" 
								update="pnlDigitalObjectsLabel pnlDigitalObjectsTable slctPackageType lbl digitalObjectUpload" />
					</p:commandButton>
				</p:confirmDialog>
				
				<!-- This dialog is shown if the user changes the 
					 the package from not virtual to virtual and
					 digital objects have been uploaded. -->
				<p:confirmDialog global="true" severity="error" 
								 header="#{labels['confirmation-virtual-type-change']}" 
								 hideEffect="fade"
								 message="#{labels['message-virtual-type-change']}" 
								 showEffect="fade" 
								 widgetVar="changeToNotVirtualConfirmation">
					<p:commandButton styleClass="ui-confirmdialog-yes"
									 value="#{labels['button-yes']}">
						<p:ajax listener="#{informationPackageCreationBean.removeAllDigitalObjects}" 
								update="pnlDigitalObjectsLabel pnlDigitalObjectsTable lbl digitalObjectUpload" />
					</p:commandButton>
					<p:commandButton styleClass="ui-confirmdialog-no"
									 value="#{labels['button-no']}">
						<p:ajax listener="#{informationPackageCreationBean.doNotChangePackageTypeToVirtual}" 
								update="pnlDigitalObjectsLabel pnlDigitalObjectsTable lbl tblDigitalObjects" />
					</p:commandButton>
				</p:confirmDialog>
				
				<!-- This dialog is shown if the user creates a not virtual
				information package but he has not uploaded any digital objects. -->
				<!-- TODO Kann eventuell wieder geloescht werden. -->
				<p:confirmDialog global="true" severity="warning" 
								 header="#{labels['confirmation-warning']}" 
								 hideEffect="fade"
								 message="#{labels['confirmation-no-digital-objects-uploaded']}" 
								 showEffect="fade" 
								 widgetVar="noDigitalObjectsUploadedConfirmation">
					<p:commandButton styleClass="ui-confirmdialog-yes"
									 value="#{labels['button-yes']}" 
									 action="#{workspaceBean.showSavedViews}" />
					<p:commandButton styleClass="ui-confirmdialog-no"
									 value="#{labels['button-no']}"
									 onclick="PF('noDigitalObjectsUploadedConfirmation').hide()">
					</p:commandButton>
				</p:confirmDialog>
			</h:form>
			<ui:debug rendered="#{applicationConfigurationBean.inDevelopment}" />
		</div>
	</h:body>
</f:view>
</html>