<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ptk="http://xmlns.jcp.org/jsf/composite/packagingtoolkitcomponents">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<title>KDMP4 PackagingToolkit</title>
</h:head>

<ui:remove>
	DESCRIPTION OF THIS PAGE:

	This page contains the components for creating a new information package. It contains of a panel grid with
	two columns. In the first column there is a label for each input element. In the second column, there are the
	following possibilites for user input:
	- title of the information package.
	- weather the information package is virtual or not virtual as a boolean radio button.
	- several  files can be uploaded as digital objects for this information package in dependence of the
	choice weather the information package is virtual or not virtual.
	
	ATTENTION:
	
	In the current version, the radion button for selecting if the information package is a SIP or a SIU has been removed 
	and replaced by a single value for information. The page with the old components and the logic for activating the 
	other input components has been saved as the file createInformationPackageSipAndSiu.xhtml. You can use this file as
	reference if you want to extend the application.
</ui:remove>

<f:view locale="#{i18nBean.localeCode}">
	<h:body>	
		<ui:composition template="templates/mainTemplate.xhtml">
			<ui:define name="workspace">
				<h1>#{labels['header-new-information-package']}</h1>
				<h:form enctype="multipart/form-data" id="frmCreateInformationPackage">
				
					<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" />
					<p:panelGrid columns="2">
					
						<ui:remove>Title of the information package.</ui:remove>
						<p:outputLabel style="font-weight:bold" 
									   value="#{labels['label-title']}" />
						<p:inputText value="#{informationPackageCreationBean.packageTitle}"
									 id="txtPackageTitle">
							<p:ajax event="keyup"
									listener="#{informationPackageCreationBean.onPackageTitleChanged}"
									update="btnNextStep digitalObjectUpload pnlReferencesInput" />
						</p:inputText>
						
						<ui:remove>Information package type</ui:remove>
						<p:outputLabel value="#{labels['label-package-type']}:"
									   style="font-weight:bold" />
						<p:outputLabel value="SIP" id ="lblPackageType" />
						
						<ui:remove>The configured ontology file.</ui:remove>
						<p:outputLabel value="#{labels['label-configured-base-ontology']}"
									   style="font-weight:bold"  />
									   
						<p:outputLabel value="#{informationPackageCreationBean.configuredBaseOntology}" 
												  id="lblBaseOntology" />
									  
						<ui:remove>Upload digital objects.</ui:remove>
						<p:outputLabel value="#{labels['label-upload-digital-object']}"
									   style="font-weight:bold" />
						<p:fileUpload disabled="#{informationPackageCreationBean.ajaxController.digitalObjectUploadDisabled}" 
									  fileUploadListener="#{informationPackageCreationBean.uploadDigitalObject}"
									  id="digitalObjectUpload"
									  mode="advanced"
									  multiple="true" 
									  update="btnNextStep digitalObjectUpload pnlDigitalObjectsLabel pnlDigitalObjectsTable pnlReferencesInput" />
									  
						<h:panelGroup id="pnlDigitalObjectsLabel">
							<p:outputLabel rendered="#{informationPackageCreationBean.digitalObjectUploaded}" 
										   style="font-weight:bold"
										   value="#{labels['label-uploaded-digital-objects']}" />
						</h:panelGroup>
						<h:panelGroup id="pnlDigitalObjectsTable">
							<p:dataTable id="tblDigitalObjects"
										 rendered="#{informationPackageCreationBean.digitalObjectUploaded}"
										 value="#{informationPackageCreationBean.digitalObjectList}"
										 var="digitalObject">
								<!-- The column with the file name. -->
								<p:column headerText="#{labels['label-filename']}">
									<h:outputText value="#{digitalObject.filename}" />							
								</p:column>
								<!-- The column with the delete button. -->
								<p:column>
									<p:commandButton value="#{labels['button-delete']}"
													 action="#{informationPackageCreationBean.deleteDigitalObject}"
													 update="@form">
										<f:setPropertyActionListener value="#{digitalObject}" 
																	 target="#{informationPackageCreationBean.selectedDigitalObject}" />
									</p:commandButton>								
								</p:column>
							</p:dataTable>
						</h:panelGroup>
						
						<ui:remove>h:panelGroups are used because the label and the table
						are not rendered at the beginning. They are rendered if files have
						been uploaded. Because they are not in the DOM, if they are not
						rendered, they have to be in components that are rendered in
						every case.</ui:remove>
						
						<h:panelGroup id="pnlReferencesLabel">
							<p:outputLabel style="font-weight:bold"
										   value="#{labels['label-reference-url']}" />					
						</h:panelGroup>
						
						<h:panelGroup id="pnlReferencesInput">
							<p:inputText value="#{informationPackageCreationBean.newReferenceUrl}" id="txtNewReference"
												   disabled="#{informationPackageCreationBean.ajaxController.addReferenceDisabled}">
								<p:ajax event="keyup"
									listener="#{informationPackageCreationBean.onReferenceUrlChanged}"
									update="btnAddReference" />	   
							</p:inputText>
							<p:commandButton 
								value="#{labels['button-add']}"
								id="btnAddReference"
								disabled="#{informationPackageCreationBean.ajaxController.addReferenceDisabled}">
										<f:ajax listener="#{informationPackageCreationBean.onAddReference}" 
												     execute="txtNewReference"    
												     render="@form" /> 
							 </p:commandButton>
						</h:panelGroup>
						
						<h:panelGroup id="pnlReferencesTableLabel" rendered="#{informationPackageCreationBean.ajaxController.referencesTableVisible}">
							<p:outputLabel style="font-weight:bold"
										   value="#{labels['label-existing-references']}" />					
						</h:panelGroup>
						
						<h:panelGroup id="pnlReferencesTable" rendered="#{informationPackageCreationBean.ajaxController.referencesTableVisible}">
							<p:dataTable id="tblReferences"
										 value="#{informationPackageCreationBean.referencesInInformationPackage}"
										 var="reference">
								<!-- The column with the url of the reference. -->
								<p:column headerText="#{labels['label-reference-url']}">
									<h:outputText value="#{reference.url}" />							
								</p:column>
								<!-- The column with the delete button. -->
								<p:column>
									<p:commandButton value="#{labels['button-delete']}"
													 action="#{informationPackageCreationBean.deleteReference}"
													 update="@form">
										<f:setPropertyActionListener value="#{reference}" 
																	 target="#{informationPackageCreationBean.selectedReference}" />
									</p:commandButton>								
								</p:column>
							</p:dataTable>
						</h:panelGroup>
					</p:panelGrid>
									 
					<ptk:compCancelButton />
					<p:commandButton ajax="false"
									 disabled="#{!informationPackageCreationBean.ajaxController.titleValid}"
									 id="btnNextStep" 
									 style="margin-top:10px" 
									 value="#{labels['button-next-step']}"
									 action="#{workspaceBean.onShowSavedViews}" 
									 actionListener="#{informationPackageCreationBean.createInformationPackage}">
					</p:commandButton>
				</h:form>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>