<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<title>KDMP4 PackagingToolkit</title>
</h:head>

<f:view locale="#{i18nBean.localeCode}">
	<h:body>
		<ui:composition template="templates/mainTemplate.xhtml">
			<ui:define name="header">
				Kopfzeile
			</ui:define>
			
			<ui:define name="languageChoice">
				Sprachauswahl
			</ui:define>
			
			<ui:define name="workspace">
				<ui:include src="#{workspaceBean.page}" />
			</ui:define>
				
			
			<ui:define name="footer">
				Fußzeile
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>