<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ptk="http://xmlns.jcp.org/jsf/composite/packagingtoolkitcomponents">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<title>PackagingToolkit</title>
</h:head>


<h:body>
<f:view transient="true">
		<div>
			<h1>KDMP4 PackagingToolkit</h1>
			<div id="left">
				<ui:composition template="templates/mainTemplate.xhtml">
				<ui:define name="workspace">
					<h:form id="frmStartpage">
						<h1>
							<p:growl />
							<p:commandLink value="#{labels['link-configuration']}" 
										   action="#{workspaceBean.onShowConfiguration}" 
										   ajax="false"
										   id="linkConfiguration" />
						</h1>
						<h1>
							<p:commandLink value="#{labels['link-create-information-package']}" 
										   action="#{workspaceBean.onShowCreateInformationPackage}" 
										   ajax="false"
										   id="linkCreateInformationPackage" />
						</h1>
						<h1>
							<p:commandLink value="#{labels['link-show-archiveList']}" 
										   action="#{workspaceBean.onShowArchiveList}" 
										   ajax="false"
										   id="linkShowArchiveList" />
						</h1>
					</h:form>
					</ui:define>
				</ui:composition>
				<br />
				
			</div>
		</div>
</f:view>
</h:body>
</html>