<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ptk="http://xmlns.jcp.org/jsf/composite/packagingtoolkitcomponents">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Create an information package</title>
</h:head>
<f:view locale="#{i18nBean.localeCode}">
<h:body>
	<ptk:compHelp i18nKey="overlay-ontology-tree" />
	
	<h:form style="float:right">
		<h:panelGrid columns="2">
			<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" />
			<p:outputLabel value="#{labels['label-select-language']}" />
			<p:selectOneMenu value="#{i18nBean.localeCode}"
							 valueChangeListener="#{i18nBean.onLocaleCodeChange}"
							 onchange="submit()">
				<f:selectItems value="#{i18nBean.languages}" 
							   var="language"
							   itemValue="#{language.languageCode}" 
							   itemLabel="#{language.languageDescription}" />
			</p:selectOneMenu>
		</h:panelGrid>
	</h:form>	

	<ui:remove>
		The data of the information package.
	</ui:remove>
	<h:form id="mainForm">
			<h:panelGrid columns="2">
				<p:outputLabel value="#{labels['label-title']}" />
				<p:outputLabel value="#{ontologyTreeView.informationPackageTitle}" />
				<p:outputLabel value="#{labels['label-uuid']}" />
				<p:outputLabel value="#{ontologyTreeView.uuidOfInformationPackage}" />
				<p:outputLabel value="#{labels['label-package-type']}" />
				<p:outputLabel value="#{ontologyTreeView.packageType}" />
				<p:outputLabel value="#{labels['label-digital-objects']}" />
				<ui:remove><ptk:compUnorderedList value="#{ontologyTreeView.references}" /></ui:remove>
			</h:panelGrid>
	</h:form>
	
	<h:form id="frmOntologyTree">
		<h1>#{labels['label-selected-class']}: #{ontologyTreeView.selectedTreeNode}</h1>
		<h:panelGroup>
			<ui:remove>
				This is the tree with the hierarchy of the base ontology. 
			</ui:remove>
			<p:tree value="#{ontologyTreeView.rootNode}" var="node" selectionMode="single" style="width:100%;">
				<p:ajax event="select" listener="#{ontologyTreeView.onNodeSelect}" update="@form"/>
		        <p:treeNode>
		            <h:outputText value="#{node}" />
		        </p:treeNode>
		    </p:tree>
		    
		    <p:ajaxExceptionHandler type="de.feu.kdmp4.packagingtoolkit.exceptions.ontology.OntologyReasonerException" 
		    												  update="dlgException"
		    												  onexception="PF('exceptionDialog').show();"/>
		    												  
		    <p:dialog id="dlgException" header="Fehler" widgetVar="exceptionDialog"  height="500px">
		    	<p:outputLabel escape="false" value="Message: #{pfExceptionHandler.message}" /> <br/>
				<p:commandButton  onclick="PF('dlgException').hide();" value="#{labels['button-close']}" />
		    </p:dialog>
		
		<ui:remove>
			The panel with the dynamically created user interface. Here the user can enter some values for the properties
			of a class from the ontology. 	
		</ui:remove>
		
			<p:panelGrid id="pnlProperties" binding="#{ontologyTreeView.pnlMain}" />
			<ptk:compCancelButton />
			<p:commandButton value="#{labels['button-save-information-package']}" actionListener="#{ontologyTreeView.saveInformationPackage}"  
												    ajax="false" action="#{workspaceBean.onShowStartpage}" >
				<ui:remove><f:actionListener type="de.feu.kdmp4.packagingtoolkit.client.view.prime.actionListeners.ShowStartpageActionListener" /></ui:remove>
			</p:commandButton>
		</h:panelGroup>
		
		<ui:remove>
			The table with the individuals. The user can select one individual to edit it and he can
			choose if individuals should be assigned to an information package or not. 
		</ui:remove>
		<h:panelGroup id="pnlIndividuals">
			<p:dataTable id="tblIndividuals" var="individual" value="#{ontologyTreeView.dataRows}" 
								   selectionMode="single" selection="#{ontologyTreeView.selectedDataRow}"
								   rowKey="#{individual.uuidOfIndividual}" filteredValue="#{ontologyTreeView.filteredDataRows}">
				<f:facet name="header">
						<p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />
						<p:columnToggler datasource="tblIndividuals" trigger="toggler" />					
				</f:facet>
				<p:ajax event="rowSelect" listener="#{ontologyTreeView.onRowSelect}" update="@form" />

				<p:column>				
					<h:selectBooleanCheckbox value="#{individual.selected}">
						<f:ajax listener="#{ontologyTreeView.onChangeIndividualSelection}"/>
					</h:selectBooleanCheckbox>
				</p:column>					   
				<p:column sortBy="#{individual.uuidOfIndividual}">
					<f:facet name="header">
						<h:outputText value="Uuid" />
					</f:facet>
					<h:outputText value="#{individual.uuidOfIndividual}" />
				</p:column>
				<p:columns value="#{ontologyTreeView.selectedColumns}" var="colKey" filterBy="#{individual.propertyMap[colKey]}"  
							        sortBy="#{individual.propertyMap[colKey]}">
					<f:facet name="header">
						<h:outputText value="#{ontologyTreeView.columnMap[colKey]}" />
					</f:facet>
					<h:outputText value="#{individual.propertyMap[colKey]}" />
				</p:columns>
			</p:dataTable>
			<p:commandButton value="#{labels['button-individuals-in-information-package']}"
							 actionListener="#{ontologyTreeView.onIndividualsSelectForInformationPackage}" />
		</h:panelGroup>
		
		<!-- The dialog where the user can select the individuals of a taxonomy. -->
		<p:dialog header="Eingabe einer Taxonomie" widgetVar="dlgTaxonomy" modal="true">
			<p:tree value="#{ontologyTreeView.taxonomyRootNode}" var="node" style="width:100%;"
			 				id="treeTaxonomy" selectionMode="checkbox" selection="#{ontologyTreeView.selectedTaxonomyNodes}">
		        <p:treeNode>
		            <h:outputText value="#{node}" />
		        </p:treeNode>
		    </p:tree>
		    
		    <p:commandButton value="Übernehmen" actionListener="#{ontologyTreeView.onApplySelectedTaxonomyNodes(ontologyTreeView.selectedTaxonomyNodes)}" />
		</p:dialog>
		
		
		<ui:debug rendered="#{applicationConfigurationBean.inDevelopment}" />
	</h:form>
</h:body>
</f:view>
</html>
