<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ptk="http://xmlns.jcp.org/jsf/composite/packagingtoolkitcomponents">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<title>SCIDIP-ES</title>
</h:head>

<f:view locale="#{i18nBean.localeCode}">
	<h:body>
		<h:form>
			<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" />
			<p:layout>
				<p:layoutUnit position="west" resizable="true" minSize="350" size="400" 
							  maxSize="600">
					<h:panelGroup pnl="pnlViews">
						<p:panel binding="#{savedViewsBean.pnlButtons}" />
						<ptk:compCancelButton />
						<p:commandButton value="#{labels['button-next-step']}" 
										 action="#{workspaceBean.onShowSelectOntologyNodes}" 
										 ajax="false"
										 actionListener="#{savedViewsBean.continueWithSelectedView}"
										 disabled="#{savedViewsBean.buttonNextDisabled}" />
										 
						<p:commandButton value="#{labels['button-delete-view']}"  
										 ajax="true"
										 disabled="#{savedViewsBean.buttonNextDisabled}">
								 <f:ajax render="@form" listener="#{savedViewsBean.onDeleteSelectedView}" />
						</p:commandButton>
					</h:panelGroup>
				</p:layoutUnit>
				<p:layoutUnit position="center">
					<h:panelGroup id="pnlClasses">
						<ul>
							<p:repeat var="ontologyClass" value="#{savedViewsBean.containedClasses}">
								<li>#{ontologyClass}</li>	
							</p:repeat>
						</ul>
					</h:panelGroup>
				</p:layoutUnit>
			</p:layout>
		</h:form>
		<ui:debug rendered="#{applicationConfigurationBean.inDevelopment}" />
	</h:body>
</f:view>
</html>