<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ptk="http://xmlns.jcp.org/jsf/composite/packagingtoolkitcomponents">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Ontology Nodes Selection</title>
</h:head>

<f:view locale="#{i18nBean.localeCode}">
<h:body>
	<h:form id="ontologyNodeSelectionForm">
		<f:event type="preRenderView" listener="#{ontologyNodesSelectionBean.initializePage}" />
	
		<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" />
		
		<ptk:compHelp i18nKey="overlay-filter-classes" />
				
		<!-- The listbox with the selected nodes. -->
		<p:selectOneListbox id="lstSelectedNodes"
							value="#{ontologyNodesSelectionBean.nodeToDelete}">
			<p:ajax listener="#{ontologyNodesSelectionBean.selectNodeToDelete}" partialSubmit="false"/>
			<f:selectItems var="selectedNode" 
						   value="#{ontologyNodesSelectionBean.selectedNodes}"
						   itemLabel="#{selectedNode.label}"
						   itemValue="#{selectedNode.data}" />
		</p:selectOneListbox>
		
		<!-- Command button for removing the selected node. -->
		<p:commandButton value="#{labels['button-remove']}"
						 id="btnRemoveNode"
						 disabled="#{ontologyNodesSelectionBean.btnRemoveNodeDisabled}">
			<p:ajax event="click"
					listener="#{ontologyNodesSelectionBean.removeNodeFromList}" 
					update="btnNextStep btnSelectAllNodes btnRemoveNode btnRemoveAllNodes lstSelectedNodes btnSaveNewView" />
		</p:commandButton>
		
		<!-- Command button for removing all selected nodes. -->
		<p:commandButton value="#{labels['button-remove-all']}"
						 id="btnRemoveAllNodes"
						 disabled="#{ontologyNodesSelectionBean.btnRemoveAllNodesDisabled}">
			<p:ajax event="click"
					listener="#{ontologyNodesSelectionBean.removeAllNodesFromList}" 
					update="btnNextStep btnSelectAllNodes btnRemoveNode btnRemoveAllNodes lstSelectedNodes btnSaveNewView" />
		</p:commandButton>
		
		<!-- Command button for selecting all nodes. -->
		<p:commandButton value="#{labels['button-select-all']}"
						 id="btnSelectAllNodes"
						 disabled="#{ontologyNodesSelectionBean.btnSelectAllNodesDisabled}">
			<p:ajax event="click"
					listener="#{ontologyNodesSelectionBean.selectAllNodes}" 
					update="btnNextStep btnSelectAllNodes btnRemoveNode btnRemoveAllNodes lstSelectedNodes btnSaveNewView" />
		</p:commandButton>

		<!-- Command button for the next step. -->
		<p:commandButton value="#{labels['button-next-step']}"
						 id="btnNextStep"
						 disabled="#{ontologyNodesSelectionBean.btnNextStepDisabled}"
						 actionListener="#{ontologyNodesSelectionBean.nextStep}"
						 action="#{workspaceBean.onShowOntologyTreeView}" 
						 ajax="false" />
		<ptk:compCancelButton />
		<br />
		
		<!-- Elements for saving the view. -->
		<p:outputLabel value="#{labels['label-view-name']}" />
		<p:inputText value="#{ontologyNodesSelectionBean.newViewName}" id="txtNewViewName">
			<p:ajax event="keyup"
					listener="#{ontologyNodesSelectionBean.onNewViewNameChanged}"
					update="btnSaveNewView" />
		</p:inputText>
		<!-- Command button for saving the view. -->
		<p:commandButton value="#{labels['button-create-new-view']}"
						 id="btnSaveNewView"
						 actionListener="#{ontologyNodesSelectionBean.saveAsNewView}"
						 disabled="#{ontologyNodesSelectionBean.btnSaveNewViewDisabled}">
			<p:ajax update="txtNewViewName" />
		</p:commandButton>
		
		<!-- The graphical representation of the ontology. -->
		<p:mindmap value="#{ontologyNodesSelectionBean.rootNode}"
				   style="width:80%;height:800px"
				   id="ontologyMap">
			<p:ajax event="select" listener="#{ontologyNodesSelectionBean.onSelectNode}" />
			<p:ajax event="dblselect" listener="#{ontologyNodesSelectionBean.nodeToList}"
					update="btnNextStep btnSelectAllNodes btnRemoveNode btnRemoveAllNodes lstSelectedNodes" />
		</p:mindmap>
	</h:form>
	<ui:debug rendered="#{applicationConfigurationBean.inDevelopment}" />
</h:body>
	</f:view>
</html>