<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ptk="http://xmlns.jcp.org/jsf/composite/packagingtoolkitcomponents">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>#{labels['label-information-packages-in-server-storage']}</title>
</h:head>

<ui:remove>
	This page contains a list with all archives found in the storage directory on the server. The archives
	are displayed in a datatable. The user can 
</ui:remove>

<body>
	<ui:composition template="templates/mainTemplate.xhtml">
		<ui:define name="workspace">
			<h1>#{labels['label-saved-information-packages']}</h1>
			<h:form id="mainForm">
				<p:growl />
				<p:dataTable var="archive" value="#{showArchiveListBean.archiveList}"
							 id="archiveTable" rowKey="#{archive.uuid}"
							 selection="#{showArchiveListBean.selectedArchive}">
					<p:column selectionMode="single" />
					<p:column headerText="#{labels['column-title']}">
						<h:outputText value="#{archive.title}" />
					</p:column>
					<p:column headerText="#{labels['column-uuid']}">
						<h:outputText value="#{archive.uuid}" />
					</p:column>
					<p:column headerText="#{labels['column-package-type']}">
						<h:outputText value="#{archive.packageType}" />
					</p:column>
					<f:facet name="footer">
				
				<!-- The button for viewing the details of an archive. -->
				<p:commandButton icon="ui-icon-search" oncomplete="PF('archiveDetailsDialog').show()" update="@form" 
								 id="btnDetails" actionListener="#{showArchiveListBean.onOpenDetailsDialog}">
					<f:setPropertyActionListener value="#{archive}" 
												 target="#{showArchiveListBean.selectedArchive}" />
				</p:commandButton>		 
								 
				
				<ptk:compTooltip  forComponent=":mainForm:archiveTable:btnDetails" text="#{help['button-details-information-package']}" />
					
					<p:commandButton icon="ui-icon-pencil" actionListener="#{showArchiveListBean.editArchive}"
														action="#{workspaceBean.onShowSavedViews}" id="btnEdit" ajax="false" >
						<f:setPropertyActionListener value="#{archive}" 
													 target="#{showArchiveListBean.selectedArchive}" />
					</p:commandButton>
					<ptk:compTooltip  forComponent=":mainForm:archiveTable:btnEdit" text="#{help['button-edit-information-package']}" />
					
					<p:commandButton value="#{labels['button-download']}" oncomplete="PF('archiveDownloadDialog').show()" update="@form"
									 actionListener="#{showArchiveListBean.onOpenDownloadDialog}" id="btnDownload" />
					<ptk:compTooltip  forComponent=":mainForm:archiveTable:btnDownload" text="#{help['button-download-information-package']}" />
					</f:facet>		
				</p:dataTable>
				
				<!-- The button for deleting an archive. -->
				<p:commandButton icon="ui-icon-trash" 
								 actionListener="#{showArchiveListBean.deleteArchive}"
								 update="archiveTable" id="btnDelete">
						<p:confirm header="#{labels['label-confirmation']}" message="#{labels['label-confirmation-ip-deletion']}" icon="ui-icon-alert" />
						<f:setPropertyActionListener value="#{archive}" 
													 target="#{showArchiveListBean.selectedArchive}" />
				</p:commandButton>
				<ptk:compTooltip  forComponent=":mainForm:btnDelete" text="#{help['button-delete-information-package']}" />
				

				
				<p:commandButton value="#{labels['button-back']}" action="#{workspaceBean.onShowStartpage}"
					ajax="false" />
		
				<!-- The dialog for configuring the download. -->
				<p:dialog header="#{labels['label-selected-archive']}" widgetVar="archiveDownloadDialog" modal="true" 
							    showEffect="fade" hideEffect="fade" resizable="false" width="500">
			        <p:outputPanel id="pnlArchiveDownloadDetails" style="text-align:center;">
			            <h:panelGrid columns="3">
				            <p:outputLabel value="#{labels['label-filename']}"  />
				            <p:inputText value="#{showArchiveListBean.filename}" /> 
				            <p:outputLabel value=".zip" />
				            
				            
			        		<p:outputLabel value="#{labels['label-serialization-format']}"  />
							<p:selectOneMenu value="#{showArchiveListBean.selectedSerializationFormat}">
								<f:selectItems var="serializationFormat" value="#{showArchiveListBean.availableSerializationFormats}" 
									itemLabel="#{serializationFormat}" itemValue="#{serializationFormat}" />
							</p:selectOneMenu>
							<p:outputLabel />
			
							<p:outputLabel value="#{labels['label-virtual']}" />
							<p:selectBooleanCheckbox value="#{showArchiveListBean.downloadVirtual}" />
							<p:outputLabel />
						</h:panelGrid>
			        </p:outputPanel>
			        <!-- The button for downloading an archive. -->
					<p:commandButton value="#{labels['button-download']}"
													    onclick="PrimeFaces.monitorDownload(start, stop);" ajax="false">
						<p:fileDownload value="#{showArchiveListBean.downloadArchiveFile}" />
					</p:commandButton>
					
					<p:commandButton value="#{labels['button-close']}" actionListener="#{showArchiveListBean.closeDownloadConfigurationDialog}" />
			    </p:dialog>
		
				<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
				    <p:graphicImage name="/demo/images/ajaxloadingbar.gif" />
				    <h1>Wird heruntergeladen. Grafik folgt!</h1>
				</p:dialog>
		
				<script type="text/javascript">
				function start() {
				    PF('statusDialog').show();
				}
				 
				function stop() {
				    PF('statusDialog').hide();
				}
				</script>
		
				<!-- The dialog box that shows the details of the selected archive. -->
				<p:dialog header="#{labels['label-selected-archive']}" widgetVar="archiveDetailsDialog" modal="true" 
							    showEffect="fade" hideEffect="fade" resizable="true">
			        <p:outputPanel id="pnlArchiveDetails" style="text-align:center;">
			            <h:panelGrid columns="1">
			            	<h:outputText value="#{labels['label-uuid']}: #{showArchiveListBean.selectedArchive.uuid}"/>
			            	<h:outputText value="#{labels['label-title']}: #{showArchiveListBean.selectedArchive.title}"/>
			            	<h:outputText value="#{labels['label-serialization-format']}: #{showArchiveListBean.selectedArchive.serializationFormat.toString()}"/>
			            	<h:outputText value="#{labels['label-package-type']}: #{showArchiveListBean.selectedArchive.packageType.toString()}"/>
			            	<h:outputText value="#{labels['label-creation-date']}: #{showArchiveListBean.selectedArchive.creationDate}">
			            		<f:convertDateTime type="date" dateStyle="short" />
			            	</h:outputText>
			            	<h:outputText value="#{labels['label-last-modification-date']}: #{showArchiveListBean.selectedArchive.lastModificationDate}">
			            		<f:convertDateTime type="date" dateStyle="short" />
			            	</h:outputText>
			            </h:panelGrid>
			            
			    <h1>#{labels['label-digital-objects']}</h1>
				<p:dataTable id="tblDigitalObjects" var="digitalObject" 
							 value="#{showArchiveListBean.selectedArchive.digitalObjects.asList()}">
				<p:column>
           			<f:facet name="header">
           				<h:outputText value="#{labels['label-filename']}" />
           			</f:facet>
           			<h:outputText value="#{digitalObject.filename}" />
           		</p:column>					   
				<p:columns value="#{showArchiveListBean.columnsOfDigitalObjectsOfSelectedInformationPackage}" var="colKey">
					<f:facet name="header">
						<h:outputText value="#{showArchiveListBean.columnMap[colKey]}" />
					</f:facet>
					<h:outputText value="#{digitalObject.metadataMap.getMetadataValue(colKey)}" />
				</p:columns>
			</p:dataTable>
			 </p:outputPanel>
			
			<ui:remove><h:panelGroup>
			<p:panelGrid binding="#{showArchiveListBean.panelWithIndividualTables}" />
			 </h:panelGroup>
			 </ui:remove>
			 <ui:remove><p:repeat value="#{showArchiveListBean.dataTableWithIndividuals}"
					   var="#{dataTable}">
				<p:outputPanel>
					<p:dataTable binding="#{dataTable}" />
				</p:outputPanel>
			</p:repeat>
			</ui:remove>
			
			<h1>#{labels['label-individuals']}</h1>
			<h:outputText escape="false" value="#{showArchiveListBean.individualTablesString}" />
			
			<h1>#{labels['label-taxonomy-individuals']}</h1>
			<h:outputText escape="false" value="#{showArchiveListBean.taxonomyIndividualsString}" />
			 
			<ui:remove> <p:outputPanel>
					<p:dataTable binding="#{showArchiveListBean.firstDataTable}" />
				</p:outputPanel></ui:remove>
			 
			</p:dialog>
		
			    <!-- The dialog for the confirmation if the user clicks the delete button. -->
			    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			    	<p:commandButton value="#{labels['button-yes']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" 
														actionListener="#{showArchiveListBean.deleteArchive}"/>
			    	<p:commandButton value="#{labels['button-no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			    </p:confirmDialog>
		
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>